#navigation ul {
  display:flex;
  gap: 4em;
  padding-bottom:0;
  list-style:none;
}
#navigation {
  position:fixed;
  top:0;
  background-color: rgb(76, 130, 224);
}
#about, #experience, #skills, #projects, #connect {
  scroll-margin-top: 3em;
}
a:hover {
  opacity: 0.3;
}
#name {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  padding-top:2ch;
}
h2 {
  font-weight:bold;
  font-size: 3em;
}
body {
  height: 100vh;
  background-color: rgb(76, 130, 224);
  font-family: "Ysabeau Infant", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.grid-item {
  display: flex;
  flex-direction: row;
  background-color:aqua;
  border-radius: 0.8em;
  padding: 0.5em;
}
.one-experience {
  display: flex;
  flex-direction: column;
}
.date {
  font-weight: bold;
  margin-right: 1em;
  min-width: fit-content;
}
#profile-picture {
  border-radius: 50%;
  margin: 1em;
  width: 30vw;
  border-color: rgb(27, 126, 226);
  border-width:3dvi;
  border-style:inset;
}
#connect ul li {
  list-style: none;
  display:flex;
  Margin: 1em;
  padding: 0.5em;
  color: whitesmoke;
  background-color:aqua;
  border-radius: 0.8em;
}
.message-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.edit-message-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button {
  background-color:aqua;
  border-radius: 0.8em;
}
.message-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
footer {
  padding: 5px;
}

  
  