#navigation ul {
  display:flex;
  gap: 3em;
  padding-bottom:0;
  list-style:none;
}
a:hover {
  opacity: 0.3;
}
#navigation {
  position:fixed;
  top:0;
  scroll-padding-top:1ch;
  background-color: rgb(76, 130, 224);
}
#name {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  padding-top:2ch;
}
h2 {
  font-weight:bold;
  font-size: 3em;
}
body {
  height: 100vh;
  background-color: rgb(76, 130, 224);
  font-family: "Ysabeau Infant", sans-serif;
}
#experience ul li {
  list-style: none;
  display:flexbox;
  margin: 0.5em;
  background-color: rgb(123, 197, 243);
  color: whitesmoke;
  padding: 0.5em;
  border-radius: 0.6em;
  border-color: rgb(10, 104, 255);
  border-style: solid;
}
#profile-picture {
  border-radius: 50%;
  margin: 1em;
  width: 30vw;
  border-color: rgb(27, 126, 226);
  border-width:3dvi;
  border-style:inset;
}
#connect ul li {
  list-style: none;
  display:flexbox;
  Margin: 1em;
  padding: 0.5em;
  color: whitesmoke;
  background-color:aqua;
  border-radius: 0.8em;
}

  
  